
@{
    ViewData["Title"] = "SessionExpired";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>oturum Süresi Doldu</title>
</head>
<body>
    <h1>Oturumunuz sona erdi</h1>
    <p>Devam etmek için lütfen tekrar giriş yapın</p>
</body>
</html>

