
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@{
    int id = ViewBag.BlogId;
}

<div class="reply-form">
    
    <h4>Bir yorum bırakın</h4>
    <p>E-posta hesabınız yayımlanmayacak.</p>

    
    <div class="row">
        <div class="col-md-6 form-group">
            <input id="CommentUserName" name="CommentUserName" type="text" class="form-control" placeholder="Adınız Soyadınız">
        </div>
        <div class="col-md-6 form-group">
            <input id="CommentTitle" name="CommentTitle" type="text" class="form-control" placeholder="Konu">
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <textarea id="CommentContent" name="CommentContent" class="form-control" placeholder="Mesajınız"></textarea>
        </div>
    </div>
    @Html.AntiForgeryToken()
    <button type="button" onclick="sendComment(@id);" class="btn btn-primary">Yorum Yap</button>
</div>

<script>
    function sendComment(id) {
        var commentUserName = $("#CommentUserName").val();
        var commentTitle = $("#CommentTitle").val();
        var commenContent = $("#CommentContent").val();
        var blogId = id;
        $.ajax({
            method: "post",
            url: "/Comment/PartialAddComment/",
            data: {
                CommentUserName: commentUserName,
                CommentTitle: commentTitle,
                CommentContent: commenContent,
                BlogId: blogId
            }
        }).done(function (result) {
            console.log(result);
            if (result == "K") {
                alert("Yorum yapabilmek için giriş sağlayınız");
            }
            else
                window.location.href = result;
        }).fail(function (result) {
            if(result == "hata")
                alert("Yorumunuz eklenmedi. Bir hata oluştu");
        })
    }
</script>
