@model IEnumerable<Comment>
<h4 class="comments-count">Yorumlar</h4>
@foreach (var item in Model)
{
    <div class="comments">
        <div id="comment-1" class="comment">
            <div class="d-flex">
                <div class="comment-img"><img src="https://picsum.photos/400/300?random=@item.CommentId" alt=""></div>
                <div>
                    <h5><a href="">@item.CommentUserName</a> <a class="reply"><i class="bi bi-reply-fill"></i> @item.CommentTitle</a></h5>
                    <time datetime="2020-01-01">@(((DateTime)item.CommentDate).ToString("dd-MM-yyyy"))</time>
                    <p>
                        @item.CommentContent
                    </p>
                </div>
            </div>
        </div>
    </div>
}