@using Bloger.Entity.Concrete
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link href="~/admin-panel/css/switch.css" rel="stylesheet" />


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Aktif / Pasif</th>
        <th>Düzenle</th>
    </tr>

    @{
        int sıra = 0;
    }

    @foreach (var category in Model)
    {
        sıra++;
        <tr>
            <td>@sıra</td>
            <td>@category.CategoryName</td>
            <td>
                @if (category.IsDeleted)
                {
                    <button data-active="@category.CategoryId" class="btn btn-danger">Pasif</button>
                }
                else
                {
                    <button data-passive="@category.CategoryId" class="btn btn-success">Aktif</button>
                }
            </td>
           
            <td><a href="/Admin/AdminCategory/EditCategory/@category.CategoryId" class="btn btn-success">Düzenle</a></td>
        </tr>
    }

</table>
<a href="/admin/category/add/" class="btn btn-primary">Yeni Kategori</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{page})) @*sayfalama işlemi*@

<script>
    $(document).ready(function () {

        $('[data-active]').click(function (/*event*/) {
            //event.preventDefault(); // Sayfa yenilenmesni engeller

            const buttonElement = $(this)

            swal({
                title: "Aktif edilsin mi ?",
                text: "Bu işlem seçtiğiniz kategoriyi aktif edecektir.",
                icon: "info",
                buttons: ["İptal Et", "Aktif Et"],


            }).then(function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        method: "post",
                        url: '/Admin/AdminCategory/Active/' + buttonElement.data('active'),

                    }).done(function (result) {
                        swal({
                            title: "Aktif etme işlemi başarılı",
                            icon: "success",
                            button: "Ok",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);

                    }).fail(function () {
                        swal({
                            title: "Aktif etme işlemi başarısız.",
                            icon: "danger",
                            button: "OK",
                        });

                    })
                }
                else {
                    swal({
                        title: "Akitf etme işlemi iptal edildi.",
                        icon: "success",
                        button: "OK",
                    });
                }
            })


        })

        $('[data-passive]').click(function (/*event*/) {
            //event.preventDefault(); // Sayfa yenilenmesni engeller

            const buttonElement = $(this)

            swal({

                title: "Pasif edilsin mi ?",
                text: "Bu işlem seçmiş olduğunuz kategoriyi pasif edecektir.",
                icon: "info",
                buttons: ["İptal Et", "Pasif Et"],
                dangerMode: true

            }).then(function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        method: "post",
                        url: '/Admin/AdminCategory/Passive/' + buttonElement.data('passive'),

                    }).done(function (result) {
                        swal({
                            title: "Pasif işlemi başarılı",
                            icon: "success",
                            button: "OK",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);

                    }).fail(function () {
                        swal({
                            title: "Pasif işlemi başarısız.",
                            icon: "danger",
                            button: "OK",
                        });

                    })
                }
                else {
                    swal({
                        title: "Pasif işlemi iptal edildi.",
                        icon: "success",
                        button: "OK",
                    });
                }
            })
        })
    })
</script>

