@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>404 Error</title>

    <link href="/404Error/css/bootstrap.min.css" rel="stylesheet">
    <link href="/404Error/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/404Error/css/animate.css" rel="stylesheet">
    <link href="/404Error/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Sayfa Bulunamadı</h3>

    <div class="error-desc">
        Üzgünüz, ancak aradığınız sayfa bulunamadı. URL'de hata olup olmadığını kontrol etmeyi deneyin, ardından tarayıcınızdaki yenile düğmesine basın veya uygulamamızda başka bir şey bulmayı deneyin.
        <form class="form-inline m-t" role="form">
            <a href="/login/index" type="submit" class="btn btn-primary">Giriş Yap</a>
        </form>
    </div>
</div>

<!-- Mainly scripts -->
    <script src="/404Error/js/popper.min.js"></script>
    <script src="/404Error/js/bootstrap.js"></script>

</body>

</html>