<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/admin-panel/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Muhammed Yücedağ</span>
                        <span class="text-muted text-xs block">Acunmedya Akademi<b class="caret"></b></span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="/Admin/AdminCategory/Index/"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminBlog/Index"><i class="fa fa-list"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminUser/Index"><i class="fa fa-user"></i> <span class="nav-label">Kullanıcılar</span>  </a>
            </li>
            @if (User.IsInRole("Admin")) // sadece admin görebilir
            {
                <li>
                    <a href="/Admin/AdminRol/Index"><i class="fa fa-shield"></i> <span class="nav-label">Roller</span>  </a>
                </li>
            }
            <li>
                <a href="/login/logoff/"><i class="fa fa-close"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>
        </ul>
    </div>
</nav>