
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <i class="fa fa-earth big-icon"></i>
        </div>
    </div>
</div>

<div class="">
    <div class="middle-box text-center animated fadeInRightBig">
        <h3 class="font-bold">Yönetici Paneline Hoşgeldin</h3>
        <div class="error-desc">
            Bu panelden site içeriğini düzenleyebilir, kullanıcıları yönetebilir ve diğer yönetimsel işlemleri gerçekleştirebilirsiniz. İçerik değişiklikleri yapmak için menülerimizi kullanabilirsiniz. Keyifli çalışmalar!
            <br /><a href="/Admin/Widget/Index/" class="btn btn-primary m-t">Anasayfa</a>
        </div>
    </div>
</div>

