@model List<AdminControllerUserRoleListViewModel>

@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kullanıcı Rol Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı</th>
        <th>Eposta</th>
        <th>Roller</th>
        <th>Rol Ata</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.UserName</td>
            <td>@item.User.Email</td>
            <td>
                @String.Join(", ", item.Roles.ToArray())
                </td>
            <td><a href="/Admin/AdminRol/AssignRole/@item.User.Id" class="btn btn-secondary">Rol Ata</a></td>
        </tr>
    }
</table>
<a href="/Admin/AdminRol/Index" class="btn btn-primary">Listeye Dön</a>
